In [1]:
employees = {
    "first": ["Jizzu", "Dejju", "Raju"],
    "last": ["S", "krissue", "K"],
    "email": ["jizzu@gmail.com", "krissue@gmail.com", "rajuk@gmail.com"],
    "address": ["Mumbai", "NYC", "Kathmandu"],
    "salary": [200000, 290000, 98000]
}

In [2]:
employees

{'first': ['Jizzu', 'Dejju', 'Raju'],
 'last': ['S', 'krissue', 'K'],
 'email': ['jizzu@gmail.com', 'krissue@gmail.com', 'rajuk@gmail.com'],
 'address': ['Mumbai', 'NYC', 'Kathmandu'],
 'salary': [200000, 290000, 98000]}

In [3]:
employees["first"]

['Jizzu', 'Dejju', 'Raju']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(employees)

In [7]:
df

   first     last              email    address  salary
0  Jizzu        S    jizzu@gmail.com     Mumbai  200000
1  Dejju  krissue  krissue@gmail.com        NYC  290000
2   Raju        K    rajuk@gmail.com  Kathmandu   98000

In [38]:
df["first"]

0    Jizzu
1    Dejju
2     Raju
Name: first, dtype: object

In [10]:
df[["first", "last", "email"]]

   first     last              email
0  Jizzu        S    jizzu@gmail.com
1  Dejju  krissue  krissue@gmail.com
2   Raju        K    rajuk@gmail.com

In [32]:
df.iloc[[0,1], [1,2,3]]

      last              email address
0        S    jizzu@gmail.com  Mumbai
1  krissue  krissue@gmail.com     NYC

In [39]:
df.columns

Index(['first', 'last', 'email', 'address', 'salary'], dtype='object')

In [41]:
df.count

<bound method DataFrame.count of    first     last              email    address  salary
0  Jizzu        S    jizzu@gmail.com     Mumbai  200000
1  Dejju  krissue  krissue@gmail.com        NYC  290000
2   Raju        K    rajuk@gmail.com  Kathmandu   98000>

In [42]:
df['first']

0    Jizzu
1    Dejju
2     Raju
Name: first, dtype: object

In [46]:
df.loc[0, ['email', 'salary']]

email     jizzu@gmail.com
salary             200000
Name: 0, dtype: object